modules = ["nodejs-20", "python-3.11"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 11421348
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "python backend/main.py"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80
